@font-face {
  font-family: font1;
  src: url(file:///Users/umedjonibrohimov/Desktop/C4Q/HTML/oct16/ch12webFonts/font1.otf);
}
@font-face {
  font-family: font2;
  src: url(file:///Users/umedjonibrohimov/Desktop/C4Q/HTML/oct16/ch12webFonts/font2.ttf);
}
